MVC Solution/.vs/M426_Projekt_Core/DesignTimeBuild/.dtbcache.v2
MVC Solution/MVC Net/M426_Projekt_NET/.vs/M426_Projekt_NET/config/applicationhost.config
MVC Solution\M426_Projekt_CW_AD_JL_MB\M426_Projekt_CW_AD_JL_MB\appsettings.json
MVC Solution\M426_Projekt_CW_AD_JL_MB\M426_Projekt_CW_AD_JL_MB\config\applicationhost.config
MVC Solution\M426_Projekt_CW_AD_JL_MB\M426_Projekt_CW_AD_JL_MB\Properties\serviceDependencies.json
