<h1>My Lists</h1>
<div class="List">
    @foreach (M426_Projekt_Core.Models.List.ListModel list in Model)
    {
        <div class="ListItem">
            <p>@Html.DisplayFor(modelItem => list.name)</p>
        </div>
    }
</div>

